body{
    margin: 0;
    padding: 0;
}


#bigbox{
 
    width: 90%;
    margin: auto;
    }
    #bigbox h1{
        text-align: center;
    }
    
    #bigbox p{
        padding-left: 200px;
        padding-right: 200px;
        text-align: center;
    }
    
   
    #box2 {
        display: flex;
      justify-content: center;
      gap: 40px;
       
      
        
    }
    #box2 a{
        border:2px solid grey;
    }
    #box3 {
         display: flex; 
         gap: 20px;
    }
    #box3 a{
        border:2px solid grey;
     
    }
    #secondbigbox{
      
        display: flex; 
    }
    #filterdetails{
        
        width: 20%;
    }
    #cont_sort{
      
        width: 80%;
    }
    #sortby{
     
        display: flex; 
    }
    
    
    
    #container{
        
       
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
       
        
    }
    #container >div{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    }
    
    #container img{
        margin: auto;
        width: 80%;
    }
    
    #container button{
        
        margin-left: 120px;
       height: 40px;
       width: 80px;
       margin-bottom: 10px;
    }
    
    .filter{
        font-size: 20px;
        width: 100%;
       
     }

     #container div > div{
       
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -20px;
     }
     
     #container h2,h4 {
        margin-left: 10px;
     }
    .pagination-button{
    
        
          width: 30px;
          margin-bottom: 20px;
    }
    #pag{
     
     
        padding-left: 400px;
    }
     
/* footer */

